resources:
  - ./../../apps/doorbell_app
#front door
patches:
  - patch: |-
      - op: add
        path: "/spec/template/spec/containers/0/env/-"
        value:
           name: DEVICE_MODE
           value: "Doorbell"
      - op: add
        path: "/spec/template/spec/containers/0/env/-"
        value:
           name: DEVICE_ID
           value: "device-101"
    target:
      kind: Deployment
      namespace: workloads
      name: doorbell-app
