kind: Deployment
apiVersion: apps/v1

metadata:
  name: doorbell-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: doorbell-app
  template:
    metadata:
      labels:
        app: doorbell-app
    spec:
      hostNetwork: true
      containers:
        - name: doorbell-app-container
          securityContext:
            privileged: true
          command: ["python3", "-u", "/app/main.py"]
          env:
            - name: LD_LIBRARY_PATH
              value: /opt/vc/lib

          image: houfacility.azurecr.io/doorbell_wl:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          volumeMounts:
            - name: udev
              mountPath: /run/udev
              readOnly: true
            - name: sys
              mountPath: /sys
              readOnly: true
            - name: avahi-socket
              mountPath: /var/run/avahi-daemon/socket
              readOnly: true
      volumes:
        - name: udev
          hostPath:
            path: /run/udev
        - name: sys
          hostPath:
            path: /sys
        - name: avahi-socket
          hostPath:
            path: /var/run/avahi-daemon/socket
            type: Socket
      imagePullSecrets:
        - name: acr-pull
